.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.root{
  text-align: center;
}
.circle1{
    width: 25px;
    height: 25px;
    border-radius: 25px; 
    background-color: rgb(16, 6, 123); 
  }
  .circle2{
    width: 25px;
    height: 25px;
    border-radius: 25px; 
    background-color: rgb(255, 200, 0); 
  }
  .circle3{
    width: 25px;
    height: 25px;
    border-radius: 25px; 
    background-color: rgb(255, 12, 255); 
  }
.pellet{
  background-color: rgb(157, 157, 157);
  border-radius: 5px;
}
